################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/LinkedList/obj
/.vs/LinkedList
/LinkedList/bin/Debug/netcoreapp3.1
/LinkedList/.vs/LinkedList
/LinkedList.Logic/obj
/LinkedList.Logic/bin/Debug/netstandard2.0
/LinkedList.Tests/obj
/LinkedList.Tests/bin/Debug/netcoreapp3.1
