################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/LinkedList/LinkedList/obj/project.nuget.cache
/LinkedList/LinkedList/obj/project.assets.json
/LinkedList/LinkedList/obj/LinkedList.csproj.nuget.g.targets
/LinkedList/LinkedList/obj/LinkedList.csproj.nuget.g.props
/LinkedList/LinkedList/obj/LinkedList.csproj.nuget.dgspec.json
/LinkedList/LinkedList/bin/Debug/netcoreapp3.1/LinkedList.runtimeconfig.json
/LinkedList/LinkedList/bin/Debug/netcoreapp3.1/LinkedList.runtimeconfig.dev.json
/LinkedList/LinkedList/bin/Debug/netcoreapp3.1/LinkedList.pdb
/LinkedList/LinkedList/bin/Debug/netcoreapp3.1/LinkedList.exe
/LinkedList/LinkedList/bin/Debug/netcoreapp3.1/LinkedList.dll
/LinkedList/LinkedList/bin/Debug/netcoreapp3.1/LinkedList.deps.json
/LinkedList/LinkedList/obj/Debug/netcoreapp3.1/LinkedList.pdb
/LinkedList/LinkedList/obj/Debug/netcoreapp3.1/LinkedList.genruntimeconfig.cache
/LinkedList/LinkedList/obj/Debug/netcoreapp3.1/LinkedList.exe
/LinkedList/LinkedList/obj/Debug/netcoreapp3.1/LinkedList.dll
/LinkedList/LinkedList/obj/Debug/netcoreapp3.1/LinkedList.csprojAssemblyReference.cache
/LinkedList/LinkedList/obj/Debug/netcoreapp3.1/LinkedList.csproj.FileListAbsolute.txt
/LinkedList/LinkedList/obj/Debug/netcoreapp3.1/LinkedList.csproj.CoreCompileInputs.cache
/LinkedList/LinkedList/obj/Debug/netcoreapp3.1/LinkedList.assets.cache
/LinkedList/LinkedList/obj/Debug/netcoreapp3.1/LinkedList.AssemblyInfoInputs.cache
/LinkedList/LinkedList/obj/Debug/netcoreapp3.1/LinkedList.AssemblyInfo.cs
*.suo
/LinkedList/LinkedList.Logic/bin/Debug/netstandard2.0/LinkedList.Logic.pdb
/LinkedList/LinkedList.Logic/bin/Debug/netstandard2.0/LinkedList.Logic.dll
/LinkedList/LinkedList.Logic/bin/Debug/netstandard2.0/LinkedList.Logic.deps.json
/LinkedList/LinkedList.Logic/obj/Debug/netstandard2.0/LinkedList.Logic.pdb
/LinkedList/LinkedList.Logic/obj/Debug/netstandard2.0/LinkedList.Logic.dll
/LinkedList/LinkedList.Logic/obj/Debug/netstandard2.0/LinkedList.Logic.csprojAssemblyReference.cache
/LinkedList/LinkedList.Logic/obj/Debug/netstandard2.0/LinkedList.Logic.csproj.FileListAbsolute.txt
/LinkedList/LinkedList.Logic/obj/Debug/netstandard2.0/LinkedList.Logic.csproj.CoreCompileInputs.cache
/LinkedList/LinkedList.Logic/obj/Debug/netstandard2.0/LinkedList.Logic.assets.cache
/LinkedList/LinkedList.Logic/obj/Debug/netstandard2.0/LinkedList.Logic.AssemblyInfoInputs.cache
/LinkedList/LinkedList.Logic/obj/Debug/netstandard2.0/LinkedList.Logic.AssemblyInfo.cs
/LinkedList/LinkedList.Logic/obj/project.nuget.cache
/LinkedList/LinkedList.Logic/obj/project.assets.json
/LinkedList/LinkedList.Logic/obj/LinkedList.Logic.csproj.nuget.g.targets
/LinkedList/LinkedList.Logic/obj/LinkedList.Logic.csproj.nuget.g.props
/LinkedList/LinkedList.Logic/obj/LinkedList.Logic.csproj.nuget.dgspec.json
/LinkedList/LinkedList.Tests/bin/Debug/netcoreapp3.1/zh-Hant/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
/LinkedList/LinkedList.Tests/bin/Debug/netcoreapp3.1/zh-Hant/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
/LinkedList/LinkedList.Tests/bin/Debug/netcoreapp3.1/zh-Hant/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
/LinkedList/LinkedList.Tests/bin/Debug/netcoreapp3.1/zh-Hant/Microsoft.TestPlatform.CoreUtilities.resources.dll
/LinkedList/LinkedList.Tests/bin/Debug/netcoreapp3.1/zh-Hant/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
/LinkedList/LinkedList.Tests/bin/Debug/netcoreapp3.1/zh-Hans/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
/LinkedList/LinkedList.Tests/bin/Debug/netcoreapp3.1/zh-Hans/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
/LinkedList/LinkedList.Tests/bin/Debug/netcoreapp3.1/zh-Hans/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
/LinkedList/LinkedList.Tests/bin/Debug/netcoreapp3.1/zh-Hans/Microsoft.TestPlatform.CoreUtilities.resources.dll
/LinkedList/LinkedList.Tests/bin/Debug/netcoreapp3.1/zh-Hans/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
/LinkedList/LinkedList.Tests/bin/Debug/netcoreapp3.1/xunit.runner.visualstudio.dotnetcore.testadapter.dll
/LinkedList/LinkedList.Tests/bin/Debug/netcoreapp3.1/xunit.runner.utility.netcoreapp10.dll
/LinkedList/LinkedList.Tests/bin/Debug/netcoreapp3.1/xunit.runner.reporters.netcoreapp10.dll
/LinkedList/LinkedList.Tests/bin/Debug/netcoreapp3.1/xunit.execution.dotnet.dll
/LinkedList/LinkedList.Tests/bin/Debug/netcoreapp3.1/xunit.core.dll
/LinkedList/LinkedList.Tests/bin/Debug/netcoreapp3.1/xunit.assert.dll
/LinkedList/LinkedList.Tests/bin/Debug/netcoreapp3.1/xunit.abstractions.dll
/LinkedList/LinkedList.Tests/bin/Debug/netcoreapp3.1/tr/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
/LinkedList/LinkedList.Tests/bin/Debug/netcoreapp3.1/tr/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
/LinkedList/LinkedList.Tests/bin/Debug/netcoreapp3.1/tr/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
/LinkedList/LinkedList.Tests/bin/Debug/netcoreapp3.1/tr/Microsoft.TestPlatform.CoreUtilities.resources.dll
/LinkedList/LinkedList.Tests/bin/Debug/netcoreapp3.1/tr/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
/LinkedList/LinkedList.Tests/bin/Debug/netcoreapp3.1/testhost.dll
/LinkedList/LinkedList.Tests/bin/Debug/netcoreapp3.1/ru/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
/LinkedList/LinkedList.Tests/bin/Debug/netcoreapp3.1/ru/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
/LinkedList/LinkedList.Tests/bin/Debug/netcoreapp3.1/ru/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
/LinkedList/LinkedList.Tests/bin/Debug/netcoreapp3.1/ru/Microsoft.TestPlatform.CoreUtilities.resources.dll
/LinkedList/LinkedList.Tests/bin/Debug/netcoreapp3.1/ru/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
/LinkedList/LinkedList.Tests/bin/Debug/netcoreapp3.1/pt-BR/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
/LinkedList/LinkedList.Tests/bin/Debug/netcoreapp3.1/pt-BR/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
/LinkedList/LinkedList.Tests/bin/Debug/netcoreapp3.1/pt-BR/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
/LinkedList/LinkedList.Tests/bin/Debug/netcoreapp3.1/pt-BR/Microsoft.TestPlatform.CoreUtilities.resources.dll
/LinkedList/LinkedList.Tests/bin/Debug/netcoreapp3.1/pt-BR/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
/LinkedList/LinkedList.Tests/bin/Debug/netcoreapp3.1/pl/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
/LinkedList/LinkedList.Tests/bin/Debug/netcoreapp3.1/pl/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
/LinkedList/LinkedList.Tests/bin/Debug/netcoreapp3.1/pl/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
/LinkedList/LinkedList.Tests/bin/Debug/netcoreapp3.1/pl/Microsoft.TestPlatform.CoreUtilities.resources.dll
/LinkedList/LinkedList.Tests/bin/Debug/netcoreapp3.1/pl/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
/LinkedList/LinkedList.Tests/bin/Debug/netcoreapp3.1/NuGet.Frameworks.dll
/LinkedList/LinkedList.Tests/bin/Debug/netcoreapp3.1/Newtonsoft.Json.dll
/LinkedList/LinkedList.Tests/bin/Debug/netcoreapp3.1/Microsoft.VisualStudio.TestPlatform.ObjectModel.dll
/LinkedList/LinkedList.Tests/bin/Debug/netcoreapp3.1/Microsoft.VisualStudio.TestPlatform.Common.dll
/LinkedList/LinkedList.Tests/bin/Debug/netcoreapp3.1/Microsoft.VisualStudio.CodeCoverage.Shim.dll
/LinkedList/LinkedList.Tests/bin/Debug/netcoreapp3.1/Microsoft.TestPlatform.Utilities.dll
/LinkedList/LinkedList.Tests/bin/Debug/netcoreapp3.1/Microsoft.TestPlatform.PlatformAbstractions.dll
/LinkedList/LinkedList.Tests/bin/Debug/netcoreapp3.1/Microsoft.TestPlatform.CrossPlatEngine.dll
/LinkedList/LinkedList.Tests/bin/Debug/netcoreapp3.1/Microsoft.TestPlatform.CoreUtilities.dll
/LinkedList/LinkedList.Tests/bin/Debug/netcoreapp3.1/Microsoft.TestPlatform.CommunicationUtilities.dll
/LinkedList/LinkedList.Tests/bin/Debug/netcoreapp3.1/LinkedList.Tests.runtimeconfig.json
/LinkedList/LinkedList.Tests/bin/Debug/netcoreapp3.1/LinkedList.Tests.runtimeconfig.dev.json
/LinkedList/LinkedList.Tests/bin/Debug/netcoreapp3.1/LinkedList.Tests.pdb
/LinkedList/LinkedList.Tests/bin/Debug/netcoreapp3.1/LinkedList.Tests.dll
/LinkedList/LinkedList.Tests/bin/Debug/netcoreapp3.1/LinkedList.Tests.deps.json
/LinkedList/LinkedList.Tests/bin/Debug/netcoreapp3.1/LinkedList.Logic.pdb
/LinkedList/LinkedList.Tests/bin/Debug/netcoreapp3.1/LinkedList.Logic.dll
/LinkedList/LinkedList.Tests/bin/Debug/netcoreapp3.1/ko/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
/LinkedList/LinkedList.Tests/bin/Debug/netcoreapp3.1/ko/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
/LinkedList/LinkedList.Tests/bin/Debug/netcoreapp3.1/ko/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
/LinkedList/LinkedList.Tests/bin/Debug/netcoreapp3.1/ko/Microsoft.TestPlatform.CoreUtilities.resources.dll
/LinkedList/LinkedList.Tests/bin/Debug/netcoreapp3.1/ko/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
/LinkedList/LinkedList.Tests/bin/Debug/netcoreapp3.1/ja/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
/LinkedList/LinkedList.Tests/bin/Debug/netcoreapp3.1/ja/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
/LinkedList/LinkedList.Tests/bin/Debug/netcoreapp3.1/ja/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
/LinkedList/LinkedList.Tests/bin/Debug/netcoreapp3.1/ja/Microsoft.TestPlatform.CoreUtilities.resources.dll
/LinkedList/LinkedList.Tests/bin/Debug/netcoreapp3.1/ja/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
/LinkedList/LinkedList.Tests/bin/Debug/netcoreapp3.1/it/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
/LinkedList/LinkedList.Tests/bin/Debug/netcoreapp3.1/it/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
/LinkedList/LinkedList.Tests/bin/Debug/netcoreapp3.1/it/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
/LinkedList/LinkedList.Tests/bin/Debug/netcoreapp3.1/it/Microsoft.TestPlatform.CoreUtilities.resources.dll
/LinkedList/LinkedList.Tests/bin/Debug/netcoreapp3.1/it/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
/LinkedList/LinkedList.Tests/bin/Debug/netcoreapp3.1/fr/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
/LinkedList/LinkedList.Tests/bin/Debug/netcoreapp3.1/fr/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
/LinkedList/LinkedList.Tests/bin/Debug/netcoreapp3.1/fr/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
/LinkedList/LinkedList.Tests/bin/Debug/netcoreapp3.1/fr/Microsoft.TestPlatform.CoreUtilities.resources.dll
/LinkedList/LinkedList.Tests/bin/Debug/netcoreapp3.1/fr/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
/LinkedList/LinkedList.Tests/bin/Debug/netcoreapp3.1/es/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
/LinkedList/LinkedList.Tests/bin/Debug/netcoreapp3.1/es/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
/LinkedList/LinkedList.Tests/bin/Debug/netcoreapp3.1/es/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
/LinkedList/LinkedList.Tests/bin/Debug/netcoreapp3.1/es/Microsoft.TestPlatform.CoreUtilities.resources.dll
/LinkedList/LinkedList.Tests/bin/Debug/netcoreapp3.1/es/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
/LinkedList/LinkedList.Tests/bin/Debug/netcoreapp3.1/de/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
/LinkedList/LinkedList.Tests/bin/Debug/netcoreapp3.1/de/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
/LinkedList/LinkedList.Tests/bin/Debug/netcoreapp3.1/de/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
/LinkedList/LinkedList.Tests/bin/Debug/netcoreapp3.1/de/Microsoft.TestPlatform.CoreUtilities.resources.dll
/LinkedList/LinkedList.Tests/bin/Debug/netcoreapp3.1/de/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
/LinkedList/LinkedList.Tests/bin/Debug/netcoreapp3.1/cs/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
/LinkedList/LinkedList.Tests/bin/Debug/netcoreapp3.1/cs/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
/LinkedList/LinkedList.Tests/bin/Debug/netcoreapp3.1/cs/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
/LinkedList/LinkedList.Tests/bin/Debug/netcoreapp3.1/cs/Microsoft.TestPlatform.CoreUtilities.resources.dll
/LinkedList/LinkedList.Tests/bin/Debug/netcoreapp3.1/cs/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
/LinkedList/LinkedList.Tests/obj/Debug/netcoreapp3.1/LinkedList.Tests.pdb
/LinkedList/LinkedList.Tests/obj/Debug/netcoreapp3.1/LinkedList.Tests.genruntimeconfig.cache
/LinkedList/LinkedList.Tests/obj/Debug/netcoreapp3.1/LinkedList.Tests.dll
/LinkedList/LinkedList.Tests/obj/Debug/netcoreapp3.1/LinkedList.Tests.csprojAssemblyReference.cache
/LinkedList/LinkedList.Tests/obj/Debug/netcoreapp3.1/LinkedList.Tests.csproj.FileListAbsolute.txt
/LinkedList/LinkedList.Tests/obj/Debug/netcoreapp3.1/LinkedList.Tests.csproj.CoreCompileInputs.cache
/LinkedList/LinkedList.Tests/obj/Debug/netcoreapp3.1/LinkedList.Tests.csproj.CopyComplete
/LinkedList/LinkedList.Tests/obj/Debug/netcoreapp3.1/LinkedList.Tests.assets.cache
/LinkedList/LinkedList.Tests/obj/Debug/netcoreapp3.1/LinkedList.Tests.AssemblyInfoInputs.cache
/LinkedList/LinkedList.Tests/obj/Debug/netcoreapp3.1/LinkedList.Tests.AssemblyInfo.cs
/LinkedList/LinkedList.Tests/obj/project.nuget.cache
/LinkedList/LinkedList.Tests/obj/project.assets.json
/LinkedList/LinkedList.Tests/obj/LinkedList.Tests.csproj.nuget.g.targets
/LinkedList/LinkedList.Tests/obj/LinkedList.Tests.csproj.nuget.g.props
/LinkedList/LinkedList.Tests/obj/LinkedList.Tests.csproj.nuget.dgspec.json
